.loginSignUp {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  position: fixed;
  top: 0%;
  left: 0%;
}

.loginSignUp__box {
  background-color: white;
  width: 25vw;
  height: 70vh;
  overflow: hidden;
}

.loginSignUp__box div button {
  background-color: tomato;
  height: 3px;
  width: 50%;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.loginSignUp__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3vmax;
}

.loginSignUp__toggle p {
  color: rgba(0, 0, 0, 0.678);
  font: 300 1vmax "Roboto";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
}

.loginSignUp__toggle p:hover {
  color: tomato;
}

.loginSignUp__loginForm, .loginSignUp__signupForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 2vmax;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 70%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.loginSignUp__loginForm div, .loginSignUp__signupForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginSignUp__loginForm div input, .loginSignUp__signupForm div input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.loginSignUp__loginForm div svg, .loginSignUp__signupForm div svg {
  position: absolute;
  -webkit-transform: translateX(1vmax);
          transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.loginSignUp__loginForm > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font: 500 0.8vmax "Gill Sans";
}

.loginSignUp__loginForm > a:hover {
  color: black;
}

.loginSignUp__loginSubmit, .loginSignUp__registerSubmit {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.loginSignUp__loginSubmit:hover, .loginSignUp__registerSubmit:hover {
  background-color: #b3422e;
}

.loginSignUp__signupForm {
  -webkit-transform: translateY(-100%) translateX(-100vmax);
          transform: translateY(-100%) translateX(-100vmax);
}

.loginSignUp__signupForm #signupImage > img {
  width: 3vmax;
  border-radius: 100%;
}

.loginSignUp__signupForm #signupImage > input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0%;
}

.loginSignUp__signupForm #signupImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: white;
}

.loginSignUp__signupForm #signupImage > input::file-selector-button:hover {
  background-color: #ebebeb;
}

.shiftToLeft {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.shiftToNeutral {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.shiftToNeutralForm {
  -webkit-transform: translateX(0%) translateY(-100%);
          transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
/*# sourceMappingURL=LoginSignUp.css.map */